/* Палитра
color: #212121; цвет основного текста
color: #757575; цвет текста второстепенный
color: #2196F3; цвет акцента
color: #FFFFFF; для адреса
color: rgba(255, 255, 255, 0.6); для ссылок в футере
color: #000000; цвет лого 2й части

background: #FFFFFF; основной
background: #2F303A; цвет фона hero и футера
background: #F5F4FA; цвет фона секции наша команда
 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-background-color: #f5f4fa;
  --portfolio-card-border-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-color: #afb1b8;
  --advantages-lable-bg-color: rgba(47, 48, 58, 0.8);
  --card-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
}

/* Main features */

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;

  /* outline: 1px solid tomato; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header__container {
  display: flex;
  align-items: center;

  /* background-color: orange; */
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

/* Navigation */
/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--logo-color);

  /* background-color: teal; */
}
.logo__text {
  color: var(--primary-accent-color);
}

.logo:focus,
.logo:hover {
  cursor: pointer;
}

/* Site-nav */

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav__logo {
  margin-right: 93px;
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:visited {
  color: var(--primary-text-color);
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts-nav .link:focus,
.contacts-nav .link:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}
.site-nav__link--current {
  position: relative;
  color: var(--primary-accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--primary-accent-color);
}

.site-nav__link--current:hover {
  cursor: pointer;
}

/* Contacts navigation */
.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav__link {
  display: block;
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-email {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

/* Main page */

/* Hero */
.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--secondary-background-color);

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-hero-photo-otimized.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);
}

.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 200px;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

/* Common section features */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--no-padding {
  padding-bottom: 0;
}

.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Section Our advantages  */
.advantages {
  display: flex;
}

.advantages__item {
  width: calc((100% - 3 * 30px) / 4);
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
.advantages__thumb {
  display: flex;
  background-color: var(--section-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

/* Section What we do  */

.what-we-do {
  display: flex;
}

.what-we-do__item {
  position: relative;

  display: block;
  width: calc((100% - 2 * 30px) / 3);
}

.what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 370px;
  min-height: 70px;

  background-color: var(--advantages-lable-bg-color);
}

.what-we-do__lable {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

/* Section Our team */
.section__team-list {
  background-color: var(--section-background-color);
}
.team-list {
  display: flex;
}

.team-member {
  width: calc((100% - 3 * 30px) / 4);
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member__info {
  display: inline-block;
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.team-member__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-member__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: var(--secondary-text-color);
}

/* Social links */

.social-links {
  display: flex;
}
.social-links__item {
  display: flex;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__thumb {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
  border: 1px solid transparent;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__thumb:hover {
  cursor: pointer;
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
}

.social-links__icon {
  fill: currentColor;
}

/* Our clients section */

.client-list {
  display: flex;
}

.client-list__thumb {
  width: calc((100% - 5 * 30px) / 6);
}

.client-list__thumb:not(:last-child) {
  margin-right: 30px;
}
.client-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list__link:hover,
.client-list__link:focus {
  color: var(--primary-accent-color);
  border: 1px solid var(--primary-accent-color);
  cursor: pointer;
}

.client-list__icon {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--secondary-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adress-wrapper {
  width: 231px;
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--secondary-accent-color);

  /* background-color: teal; */
}

.address__item {
  display: block;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--secondary-accent-color);
}

.address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--footer-link-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link:focus,
.address__link:hover {
  color: var(--primary-accent-color);
  cursor: pointer;
}

.social-media__text,
.subscribe__text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14x;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.social-links__thumb--grey {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;
}

.subscribe {
  margin-left: 93px;
}

.subscribe__form {
  display: flex;
}

.subscribe__input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: var(--secondary-accent-color);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe__input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  cursor: pointer;
  color: var(--primary-accent-color);
  background-color: var(--secondary-accent-color);
}

.icon-send {
  margin-left: 11px;
  fill: var(--secondary-accent-color);
}

.form .button:hover .icon-send,
.form .button:focus .icon-send {
  fill: var(--primary-accent-color);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--backdrop-background-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--header-border-color);

  background-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  color: var(--primary-accent-color);
  cursor: pointer;
  border-color: var(--primary-accent-color);
}

.icon-close {
  fill: currentColor;
}

.modal__form {
  width: 100%;
}

.form__title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.form__field:not(:last-child) {
  margin-bottom: 10px;
}

.form__field {
  position: relative;
  display: block;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-within + .form__icon {
  color: var(--primary-accent-color);
}

.modal__input:focus-within {
  outline: none;
  border: 1px solid var(--primary-accent-color);
}
.comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.comment::placeholder {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.button-send {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send:hover,
.button-send:focus {
  color: var(--primary-accent-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: center;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.agreement-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);
}

.agreement-link:visited {
  color: var(--primary-accent-color);
}

.checkbox__label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 9px;

  border: 2px solid var(--primary-text-color);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__label::before {
  border-color: transparent;
  background-color: var(--primary-accent-color);
  background-image: url(../images/icon-checked-full.svg);
  background-size: contain;
  background-origin: border-box;
}

/* Portfolio page */
/* Filter */
.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  outline: none;
  color: var(--secondary-accent-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--primary-accent-color);
}

/* Examples */
.work-example {
  display: flex;
  flex-wrap: wrap;
}

.work-example__card {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.work-example__card:nth-child(3n) {
  margin-right: 0;
}

.work-example__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-example__link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-example__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.work-example__info {
  width: 370px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--portfolio-card-border-color);
  border-right: 1px solid var(--portfolio-card-border-color);
  border-bottom: 1px solid var(--portfolio-card-border-color);
}

.work-example__title {
  margin-bottom: 4px;

  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.work-example__type {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.work-example__pop-up-thumb {
  position: relative;

  overflow: hidden;
}

.work-example__pop-up-thumb::before {
  display: inline-block;
  content: "";

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--card-overlay-color);

  opacity: 0;

  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-example__pop-up-descr {
  position: absolute;

  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--secondary-accent-color);

  opacity: 0;

  transform: translateY(100%);

  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-example__link:hover .work-example__pop-up-thumb::before {
  transform: translateY(0);
}

.work-example__card:hover .work-example__pop-up-descr {
  transform: translateY(0);
}

.work-example__card:hover .work-example__pop-up-thumb::before {
  opacity: 1;
}

.work-example__card:hover .work-example__pop-up-descr {
  opacity: 1;
}
